.logo{
background-color: black;
color: white;
font-family: 'Luckiest Guy', cursive;
font-size: 40px;
padding-bottom: 20px;
padding-top:10px;
}


.carddeck{
 margin-top:80px;   
 
margin-bottom:20px;
 padding-top:20px;
 padding-bottom: 20px;
 padding-left: 5px;
 padding-right:5px;
 background-color: rgba(255,255,255,0.5)
 
}

.signin{
    background-color: rgba(255,255,255,0.5) ;
}

.register{
    background-color: rgba(255,255,255,0.5)
}

.btn{
    color:white;
}
.welcome{
    color: white;
    font-family: 'Luckiest Guy', cursive;
    font-size:36px;
    text-align: right;
}
