.logo{
 margin-top: 50px;
}
.carddeck{
 margin-left:30px;
 margin-right:30px;
 margin-top: 70px;
 margin-bottom:600px; 
}

/*form{
    border-color: black;
}

.register{
    margin-left:700px;
    margin-right: 20px;
   }*/